<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
        <h2 class="text-center">
            Log In to the App
        </h2>
        <form>
            <!-- Email Form Input -->
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" name="email" id="email" class="form-control" v-model="credentials.email">
            </div>
            <!-- Password Form Input -->
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" class="form-control"
                       v-model="credentials.password">
            </div>
            <!-- Log In Form Submit -->
            <button type="submit" class="btn btn-primary" v-on="click: validate">Log In</button>
        </form>
        <hr>
        <p class="text-center"><a href="http://api.mmh.app/test-auth-one">Click Me To Test Auth Token</a></p>
    </div>
</div>